.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  padding: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #364a5d;
}

.errorMessage {
  height: 20px;
  color: red;
}
.btn-primary {
  margin: 10px;
}
.accountText {
  padding-top: 20px;
}

.linkAccount {
  text-decoration: none;
  color: rgb(200, 255, 0);
  margin-left: 10px;
  transition: 0.3s;
}

.linkAccount:hover {
  color: rgb(167, 213, 0);
}
